@{
    ViewData["Title"] = "Comment";
}

@model IEnumerable<BookingEksamenWebUI.Models.Comment>

@{
    ViewData["Title"] = "Comments";
}

@if (Model is null || !Model.Any())
{
    return;
}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FirstMidName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().EmailAddress)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <tr>
                <td colspan="3">
                    @Html.DisplayFor(modelItem => item.CommentText)
                </td>
            </tr>
            <td>
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
            <p/>
        </tr>
    }
</table>